.about{
  padding: 50px 30px;
  background: #fff;
  line-height: 44px;
  .h6{
      font-weight: bold; margin: 70px 0 30px; font-size: 30px;
  }
  .mt36{
      margin: 26px 0;
  }
  .img{
      width: 100%; display: block; margin-top: 10px;
  }
  .ewm{
      .img{
          width: 316px; height: 316px; display: block; margin: 60px auto 0;
      }
  }
  .z{
      color: #FC4514;
  }
}