.wrapper {
  position: relative;
  padding-top: 46px;
  padding-bottom: 50px;
}

.ruler {
  display: flex;
  justify-content: space-between;
  height: 48px;
  .item:first-child {
    border-radius: 100px 0 0 100px;
  }
  .item:last-child {
    border-radius: 0 100px 100px 0;
  }
  .item {
    position: relative;
    color: #fff;
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    .value {
      color: #fff;
      position: absolute;
      width: 100px;
      top: 48 + 10px;
      text-align: center;
      font-size: 22px;
      left: 0;
      margin-left: -50px;
    }
  }
}

.numBox {
  transition: 1.6s;
  position: absolute;
  background-color: #41403f;
  left: 0;
  color: #fff;
  top: 0;
  margin-left: -50px;
  width: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  .triangleBox {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    display: flex;
    justify-content: center;
    text-align: center;
    .triangle {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #41403f;
    }
  }
}
