.wrapper {
  width: 750px;
  display: block;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  .bg {
    display: block;
    width: 750px;
  }
  .num {
    position: absolute;
    top: 322px;
    width: 54px;
    &.num1 {
      left: 234px;
    }
    &.num2 {
      left: 300px;
    }
    &.num3 {
      left: 366px;
    }
    &.num5 {
      left: 446px;
    }
  }
  .dot {
    position: absolute;
    width: 14px;
    height: 16px;
    background-color: #80766f;
    left: 426px;
    top: 402px;
    border-radius: 4px;
  }
}
