page {
  width: 100vw;
  min-height: 100vh;
  background-color: #f0e8df;
}

.optList {
  display: flex;
  justify-content: space-between;
  .opt-item {
    cursor: pointer;
    .op-icon {
      display: block;
      width: 200px;
      height: 128px;
    }
  }
}

.header {
  color: #41403f;
  padding: 36px 50px;
  .title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .des {
    font-size: 34px;
    margin-bottom: 66px;
  }
}

.contentBox {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 48px 48px 0px 0px;
  margin-top: -48px;
  height: 800px;
  .cont {
  }
  .title {
    color: #41403f;
    font-size: 34px;
    font-weight: bold;
    padding: 60px 50px;
  }
  .footer {
    width: 100vw;
    position: absolute;
    bottom: 108px;
  }
}
