@import "../../assets/style/canvasWrap.scss";
.wrap {
  padding: 40px;
  .comment_image_list {
    .comment_image {
      max-width: 100%;
    }
  }
  .comment_content {
    display: flex;
    padding: 40px 0;
    .theme_word {
      color: #fc4514;
    }
  }
  .list_butten_group {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 80px;
    .list_btn {
      &.save_btn {
        background-color: #fc4514;
        color: #fff;
      }
      font-size: 24px;
      color: #fc4514;
      width: 210px;
      border-radius: 50px !important;
      border: 5px solid #fc4514;
    }
  }
  .theme_commit_wrap {
    display: flex;
    justify-content: space-around;
    margin: 40px;
    .commit_wrap {
      display: flex;
      align-items: center;
      .icon {
        width: 48px;
        height: 48px;
      }
      .num {
        font-size: 24px;
        color: #666;
      }
    }
  }
}
