
page {
  width: 100vw;
  min-height: 100vh;
  // background-color: #f0e8df;
}
.personalPage{
  height: calc(100vh - 146px); 
  background-color:#F5F5F5 ;
}

.userDeatil {
  background-color:#FFFFFF ;
  .goEditData {
    cursor: pointer;
    font-size: 34px;
    // display: flex;
    // align-items: center;
    color: #41403f;
    margin-top: 20px;
    margin-left: 40px;
  }
  .userName {
    font-size: 48px;
    color: #41403f;
    font-weight: bold;
    max-width: 540px;
    word-break: break-all;
  }
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listPadding{
  margin-top:18px ;
}
.loginBtnBox {
  display: flex;
  width: 100%;
}
.at-list__item{
  padding: 40px 40px;
}
