.detail_page {
  .detail_head {
    position: relative;
    .banner_image {
      width: 100%;
      height: 388px;
    }
    .detail_info {
      position: absolute;
      left: 40px;
      bottom: 46px;
      color: #fff;
      .detail_subhead {
        font-size: 28px;
      }
      .detail_title {
        font-size: 40px;
      }
    }
  }
  .detail_wrap {
    padding: 0 40px;
    .intro {
      margin: 60px 0;
      font-size: 24px;
    }
    .firstTitle {
      font-size: 32px;
      color: #000;
      padding: 60px 0 20px 0;
    }
    .firstTitleIntro {
      font-size: 24px;
    }

    .detail_list {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
