page {
  width: 100vw;
  min-height: 100vh;
}
.content {
  .top {
    padding: 1rem;
    .title {
      font-size: 1.3rem;
      color: #333;
      font-weight: bold;
    }
    .subTitle {
      font-size: 1rem;
      color: #666;
    }
  }
}
