.itemView-wrapper {
  padding: 40px;
}
.card {
  margin-bottom: 60px;
  .card-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .title {
      font-size: 30px;
      color: #000;
      font-weight: 500;
    }
  }
}

.note,
.extra {
  font-size: 24px;
  color: #999;
}
.horizontalBox {
  width: 100%;
  white-space: nowrap;
  .img_item {
    display: inline-block;
    margin-right: 6px;
    .image_wrap {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      .title {
        position: absolute;
        color: #fff;
        font-size: 36px;
        font-weight: 600;
        max-width: 290px;
        white-space: pre-line;
      }
      .image {
        width: 506px;
        height: 252px;
      }
    }
  }
  .icon_item {
    display: inline-block;

    .icon_wrap {
      display: flex;
      background-color: #fafafa;
      width: 322px;
      height: 154px;
      justify-content: space-around;
      align-items: center;
      margin-right: 5px;
      .title {
        font-size: 28px;
        font-weight: 500;
        color: #000;
      }
      .note {
        color: #999;
        font-size: 24px;
      }
      .icon {
        width: 64px;
        height: 64px;
      }
    }
  }
}
